@import 'swiper/css';
@import 'swiper/css/navigation';

@import "tailwindcss";

/* 🎨 Theme Variables */
:root {
  --background: var(--color-primary);
  --foreground: #171717;
  --color-primary-400: #347433;
  --color-primary-600: #285b27;
  --color-secondary-200: #FFC107;
  --color-secondary-900: #a07a0a;

  /* Tailwind custom theme mapping */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}


@theme {
  --color-primary-400: #347433;
   --color-primary-600: #285b27;
  --color-primary-900: #062205;
  --color-secondary-200: #FFC107;
  --color-secondary-900: #a07a0a;

  --font-neuton: var(--font-neuton), Sans-serif;
  --font-palanquin: var(--font-palanquin), Sans-serif;
  --font-palanquin: var(--font-poppins), Sans-serif;
}


/* 📝 Base Styles */
body {
  font-family: var(--font-poppins), Sans-serif;
  font-weight: 400;
  background-color: var(--color-primary);
  color: var(--color-foreground);
  line-height: 1.5;
}


/* Limit content width without breaking full-width elements */
.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 1rem;
}

/* 📌 List Item Styling */
li {
  cursor: pointer;
  padding-inline: 6px;
  transition: all 150ms ease-in-out;
}

li:hover {
  color: var(--color-primary-400);
  border-radius: 15px;
}

section {}


.swiper-pagination-bullet {
  background-color: var(--color-secondary-900) !important;
  /* Tailwind gray-300 */
  opacity: 1 !important;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet-active-main {
  background-color: var(--color-secondary-200) !important;
  /* Tailwind orange-500 */
}